@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
    Weights: 400, 600, 700;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
}
body {
    background-color: white;
}

.container {
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 350px;
    height: auto;
    margin: 40px auto;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 10px;
    padding: 22px;
    padding-bottom: 18px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 7px 7px hsl(0, 0%, 7%);
}
.picture img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.content {
    text-align: left;
}
.status {
    padding: 5px;
    width: fit-content;
    border-radius: 4px;
    border: none;
    background-color: hsl(47, 88%, 63%);
    font-weight: 700;
    margin-bottom: 10px;
}

.content small {
    display: block;
    margin-bottom: 18px;
    font-size: 14px;
    color: rgb(58, 58, 58);
}

.course {
    font-size: 21px;
    margin-bottom: 15px;
    text-decoration:none;
    font-weight: 700;   
    display: block;
    color: hsl(0, 0%, 7%);
}

.course:hover{
color: hsl(47, 88%, 63%);
}

.content p {
    margin-bottom: 22px;
    color: hsl(0, 0%, 50%);
}

.username {
    display: flex;
    align-items: center;
}

.username img {
    width: 30px;
}

.username p {
    margin-top: 19px;
    margin-left: 10px;
    color: hsl(0, 0%, 7%);
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .container{
        background-color: hsl(47, 88%, 63%);
        margin: 0;
        height: 100vh;
        padding: 20px;
    }
}


@media screen and (max-width: 375px) {
    .container {
        background-color: hsl(47, 88%, 63%);
        margin: 0;
        height: 100vh;
        padding: 20px;
    }

    .card {
        width: 200px;
    }

    .card img {
        width: 150px;
    }

    .username img {
        width: 30px;
    }

    .username p {
        font-size: 12px;
    }
}